/* Landing */
@use "../abstracts/variables";


.home {
    height: 100vh;
    width: 100%;
}

/* Texten i mitten, h1 */
.home-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    text-align: center;
    background: transparent;
    z-index: 2;
    /* Utforska meny knapp */
    #explore-menu {
        display: inline-block;
        background-color: variables.$accent-color;
        padding: 15px 35px;
        color: black;
        font-weight: 600;
        letter-spacing: 1px;
        border-radius: 30px;
        font-size: 18px;
        transition: all .50s ease;
        &:hover {
            box-shadow: #ff9f0d 0px 1px 10px;
            transition: all .40s ease;
        }
        i {
            vertical-align: middle;
            margin-top: 1px;
            margin-left: 9px;
            font-size: 18px;
        }
    }
    /* h1, huvudtext */
    h1 {
        background: transparent;
        font-size: 3em;
        color: white;
      
    }
}

/* Hero-bild */
.home-img {
    
    position: relative;
    width: 100%;
    height: 100vh;
    z-index: 1;
    background-image: url('../pics/pic1.jpg?width=1920&as=webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /* Gör bakgrunden grå */
    &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.65);
        z-index: 0;
    }
}