/* Meny */
@use "../abstracts/variables";

.menu {
    height: 100%;
    background-color: #211F23;
    h2 {
        margin: 0;
        padding: 100px;
        text-align: center;
        color: white;
    }
    .menu-container {
        padding: 30px 8% 200px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        @media (max-width: 660px) {
            grid-template-columns: repeat(1, 1fr);
        }
        h3 {
            color: variables.$accent-color;
            text-align: center;
            margin-bottom: 0.5rem;
        }
        p {
            color: white;
            text-align: center;
            margin-top: 0.5rem;
        }
    }
    .menu-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

#error-menu {
    text-align: center;
    color: red;
}
