/* Färger */
@use "../abstracts/variables";
/* Variabler */
$accent-color: #FFC977;
$body-color: #292929;
$menu-color: #211F23;
$about-color: #141414;

/* Allmän styling */
body {
    font-family: Arial, sans-serif;
    background-color: $body-color;
    color: white;
    margin: 0;
    padding: 0;
}

header {
    background-color: $menu-color;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1, h2 {
    margin-bottom: 10px;
}

button {
    background-color: $accent-color;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: darken($accent-color, 10%);
}

/* Styling för menysektionen */
.menu-section {
    background-color: $menu-color;
    padding: 20px;
}

/* Styling för bokningssektionen */
.booking-section {
    background-color: $about-color;
    padding: 20px;
}
